{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Change Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="{% static 'css/bs.min.css' %}" type="text/css" />

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'registration/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="text text-danger">
                        {{ field.errors }}
                    </div>
                    {% endfor %}
					<h3>Change Password</h3>
                    <div class="form-wrapper">
							<label for="">Current Password</label>
							<input type="password" class="form-control" name="old_password">
						</div>
					<div class="form-wrapper">
						<label for="">New Password</label>
						<input type="password" class="form-control" name="new_password1">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm New Password</label>
						<input type="password" class="form-control" name="new_password2">
					</div>
					<div class="">
					</div>
					<div class="form-group">
	            	<button id="btn" type="submit" class="btn btn-primary submit px-3">Done</button>
	            </div>
				</form>
			</div>
		</div>
		
	</body>
</html>